@font-face{
    font-family: MarkPro;
    src: url(FontFont_FF.Mark.Pro.Black.otf);
}
body{
    display: flex;
    justify-content: center;
}
.page{
    width: 1910px;
    height: 1080px;
    background-color: #f6d327;
    background-image: linear-gradient(315deg, #f6d327 0%, #de4daa 74%);
    z-index: 0;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
}
.firstline{
    margin-top: 10px;
    width: 1920px;
    height : 60px;
    display:flex;
    flex-direction: row;
    z-index: 1;
}
.the_icon{
    margin-left: 50px;
}
.the_name{
    margin-left:50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    font-family: MarkPro;
}